:root {
    --fire-opal: #ee6352ff;
    --cyan-process: #08b2e3ff;
    --magnolia: #efe9f4ff;
    --forest-green-crayola: #57a773ff;
    --independence: #484d6dff;
}

body, html {
    font-family: 'Rubik', sans-serif;
    color: var(--independence);
}